.App {
    /* grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr 2fr 1fr; */
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1fr;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #f5f5f5;
  }

  .Footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    z-index: 9999;
  }

  .Main {
    flex: 1;
  }
  